
  <div class="navbar_user_dropdown_list_container navbar_dropdown_list_container--user">

    <% var isAuth = false %>

    <% if(isAuthenticated) {%>
      <%   isAuth = true %>
    <%}%>

    <div class="navbar_user_list dropdown_list--inner">

      <div class=" dropdown_item navbar_user_list_dropdown--item navbar_user_list_dropdown--update_location" isAuth = "<%= isAuth %>" id="update_location">
        <p class="dropdown_title navbar_user_list_dropdown--title"isAuth = "<%= isAuth %>">Update Location</p>
      </div>

      <div class="dropdown_item navbar_user_list_dropdown--item" id = "edit_profile">
        <p class="dropdown_title navbar_user_list_dropdown--title">Edit Profile</p>
      </div>

      <div class="dropdown_item navbar_user_list_dropdown--item">
        <p class="dropdown_title navbar_user_list_dropdown--title">Orders</p>
      </div>

      <a href = "/logout"><div class="dropdown_item logout navbar_user_list_dropdown--item">
        <p class="dropdown_title navbar_user_list_dropdown--title">Logout</p>
      </div></a>

    </div>

  </div>
