.admin_navbar{
  width:100%;
  padding:10px;
  overflow: auto;
  position: relative;
  z-index:1 !important;
  box-shadow: 0px 0px 10px rgba(0,0,0.5);
}

.logo_container:hover {
  transform: scale(1.1);
  border-color:white !important;
}

.logo_container{
  transition: .2s all;
  transform: scale(1);
}

.profile_col_admin{
  top:0%;
  right:2.5%;
}

.profile_icon{
  width:50px;
  height:50px;
  margin-top:20px;
  filter: brightness(0);
}

.logo--admin{
  width:70px;
  height:70px;
  float:left;
  position: relative;
  bottom:10px;
}

.main_content{
  padding-bottom:5%;
}

.delete_perm{
  color:red;
  background:white;
  border-color:white;
  width:50%;
  margin-left: 25%;
  letter-spacing: 2px;
  padding:10px;
  font-size:30px;
  border-width:0px;
  font-weight:200;
  box-shadow: 0px 0px 0px;
  margin-top:5%;
  border:none;
  transition: .3s all;
  border-bottom:2px solid white;
}

.delete_perm:hover{
  border-color:red;
}

.nav_container{
  float:left;
  margin-left:5%;
  text-align: center;
  font-size:25px;
  font-weight: 250;
  color:black;
  border-bottom:1.5px solid white;
  padding-bottom:5px;
  transition: .4s all;
  font-family: "Amazon Ember";
}

.product_container{
  position: relative;
}

.nav_container:hover{
  border-color:black;
}

.logo_container{
  display: inline;
  margin-right:5%;
  text-align: left;
}

.inner_edit{
  padding:10px;
  transition: all .4s;
  border-bottom: 1px solid #e6e6e6;
  width:100%;
}

.inner_edit:hover{
  background:black;
  color:white;
}

@media screen and (max-width:1024px) and (min-width:700px){

  .nav_container{

    font-size:20px;
    width:14%;
  }

.profile_col_admin{
  width:10%;
  float: right;

}
.profile_col_admin img {
  margin-top:-5%;
}
.logo_container{
  width:25% !important;
}

  .logo_container{
    margin-right: 1%;
  }

  .profile_icon{
    margin-top: 10px ;
  }
  .dropdown_title{
    font-size:25px;
    font-weight:400;
  }
  .shopping_line{
    transform: rotateZ(0deg) scaleX(1.4);
    margin-top: 85%;
    width: 100%;
  }

  .modal_container {
    padding-bottom: 20% !important;
    overflow: hidden;
    position: relative;
    top: 10%;
    width: 90%;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 20px black;
    border: 1px solid #e6e6e6;
    padding: 1%;
    padding-bottom: 5%;
  }

  .product_input_col{
    width:100%;
  }

  .modal_title_add {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }

  .add_product_btn {
    margin-top: 5%;
    font-size: 30px;
    /* padding: 30px; */
    background: black;
    color: white;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    width: 100%;
    border: none;
  }

  .navbar_dropdown_list_container--admin{
      width:32.5% !important;
  }

}
