.advertise_container{
  width:100%;
  background-size:cover;
  overflow: hidden;
  background-position: bottom;
  box-shadow: 0px 0px 20px rgba(0,0,0,.5);
  background-image: url("./../images/advert.png");
}

.google_button{
  width:90% !important;
  margin-left:5% !important;
  background:white !important;
  border-radius:0px !important;
  position: relative;
}

.google_img{
  width:50px;
  left:0%;
  bottom:-2.5px;
  position: absolute;
}

.create_button{
  background:#38b6ff !important;
  color:white !important;
}

.signup_banner{
  float:left;
  width:40%;
  background:linear-gradient(to bottom,#312755,#304472, #583d7d, #68b5de);
  padding:20px;
  height:100%;
}

.question{
  color:white;
  font-weight:600;
  text-align: center;
  font-size:25px;
  margin-top:5%;
}

.text_banner{
  position: relative;
  margin-top:5%;
}

.ad_button:hover{
   color:white !important;
}

.ad_button{
  width:50%;
  margin-left:25%;
  background:white;
  margin-top:2.5%;
  color:black;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
  padding:10px;
  border-radius:10px;
}

.login_ad{
  background:none;
  color:white;
}

.ad_button:hover{
  background:black;
  color:white;
}

.advertise_container .text_banner{
  width:60%;
  float:left;
}

.advertise_container .text_banner .title{
  font-size:40px;
  font-weight:600;
}

.ad_text{
  color:white;
  text-align: center;
  letter-spacing: 2px;
}


.ad_icon{
  position: absolute;
  bottom:0%;
  width:70%;
  top:300px;
  left:20%;
}

.advertise_container .text_banner .subtitle{
  font-size:35px;
  font-weight:400;
  margin-top:2.5%;
}

.advertise_divider{
    width:50%;
    margin-left: 25%;
    margin-top:5%;
    height:1px;
    background:white;
}

.ad_button{
  width:90% !important;
  margin-left:5%;
  margin-top:5%;
  font-size:18px !important;
}

@media screen and (max-width:1277px) and (min-width:1024px) and (orientation:landscape){

  .ad_button{
    width:90% !important;
    margin-left:5%;
    margin-top:5%;
    font-size:18px !important;
  }



  .advertise_container{
    padding-top:5%;
    padding-bottom:5%;
  }

  .ad_icon{
    top:350px;
  }

}

@media screen and (max-width:1024px) and (min-width:700px){

    .advertise_divider{
      margin-top:15%;
    }

    .advertise_container .text_banner .title{
      font-size:45px;
      font-weight:600;
      padding-top: 30px;
    }

    .advertise_container{
      padding-bottom:10%;
    }


    .signup_banner{
      width: 40%;
      background: linear-gradient(to bottom, #312755, #304472, #583d7d, #68b5de);
      padding: 0px;
      height: 100%;
    }

    .item_banner{
      width: 50%;
      padding: 2%;
      position: absolute;
    }

    .question{
      font-size: 30px;
    }

    .google_img{
      width: 50px;
      left: 0%;
      bottom: 5px;
      position: absolute
    }

    .google_button{
      font-size: 25px !important;
      text-align: left;
      display: inline;
      padding-left: 105px;
    }

    .ad_button{
      margin-top:7.5%;
      width:90% !important;
      margin-left:5%;
      padding:20px;
      font-size:18px !important;
    }

    .ad_icon{
      position: absolute;
      bottom: 0%;
      width: 150%;
      top: 90%;
      left: -15%;
    }

    .advertise_container .text_banner .subtitle{
        padding: 30px;
        font-size: 35px;
        font-weight: 600;
        margin-top: 10%;
      }

      .signup_banner{
        float: left;
        width: 40%;
        background: linear-gradient(to bottom, #312755, #304472, #583d7d, #68b5de);
        padding: 0px;
        height: 100%;
      }
      .signup_banner{
        padding-bottom:5%;
      }
    }


}
