

@keyframes cart_bubble {

  0%{
    transform:scale(1)
  }
  30%{
    transform:scale(2);
  }
  100%{
    transform:scale(1);
  }

}

@keyframes flash {
  0%{
    filter:brightness(.4);
  }

  100%{
    filter:brightness(1);
  }
}

@keyframes box_appear{

  0%{
    opacity:0;
    transform: translateY(50px);
  }
  100%{
    opacity:1;
    transform:translateY(0px);
  }

}

@keyframes appear {
  0%{
    transform:translateX(-1200px);
  }
  100%{
    transform:translateX(0px);
  }
}



@keyframes search{

  0%{
    opacity:0%;
    transform: translateY(-500px);
  }

  100%{
    opacity:1;

    transform: translateY(150px);
  }

}



@keyframes map_appear{
  0%{
    opacity: 0%;
    transform: rotateY(360deg);
  }
  100%{
    opacity: 100%;
    transform: rotateY(0deg);
  }

}

@keyframes fadein{
  from{
    opacity:0
  }
  to{
    opacity:1;
  }
}

@keyframes move_in_right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide_up_and_bounce {
  0%{
    transform: translateY(900px) scaleY(1);
  }

  70%{
    transform:translateY(-40px) scaleY(1.1);
  }
  100%{
    transform:scaleY(1) translateY(0px);
  }
}

@keyframes move_in_left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes move_in_top {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
