p {
  font-family:"Amazon Ember";
  color:black;
}

.catagory_title{
  color:black;
  font-size:25px;
  padding-left:2.5%;
}



.catagory_row{
  padding-top:5%;
  margin-top:2.5%;
}

.catagory_box{
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  padding-bottom:5%;
  padding-top:5%;
}

.arrow_banner{
    filter: brightness(.5);
    width: 5%;
    position: absolute;
     box-shadow: none;
    background: none;
    /* top: 0% !important; */
    z-index: 99;
    transition: all .3s;
}

.arrow_banner:hover{
  filter: brightness(0);
}

.arrow_banner_container{
    position: absolute;
    width: 100%;
    padding: 1%;
    left: 0%;
    top: 50%;
    z-index: 999
}

.catagory_product_name{
  font-size:16px;
  text-align: center;
  font-weight: bold;
}

.catagory_products{
  padding-bottom:10%;
}

.no-margin-left{
  margin-left:0% !important;
}

.catagory_image{
  width:100%;
  margin:0 auto;
}

.catagory_detail{
  font-size: 18px;
  font-weight:400;
  text-align: center;
  width:50%;
  margin:0 auto;
  transition: all .5s;
  border-bottom:1px solid #e6e6e6;
}

.catagory_price{
  text-align: left;
  font-size:16px;
}

.catagory_detail:hover{
  border-color:limegreen;
}

.banner_title{
  font-size:30px;
  width:30%;
  text-align: center;
  border-bottom:2px solid black;
}


.advertise_container{
  width:100%;
  background-size:cover;
  overflow: hidden;

  box-shadow: 0px 0px 20px rgba(0,0,0,.5);
  background-image: url("./../images/advert.png");
}


.advertise_container .text_banner{
  width:60%;
  float:left;
  padding:20px;
}
.google_button{
  width:90% !important;
  margin-left:5% !important;
  background:#38b6ff !important;
  border-radius:0px !important;
}

.signup_banner{
  float:left;
  width:40%;
  background:linear-gradient(to bottom,#312755,#304472, #583d7d, #68b5de);
  padding:20px;
}

.question{
  color:white;
  font-weight:600;
  text-align: center;
  font-size:25px;
  margin-top:5%;
}

.text_banner{
  position: relative;
}

.ad_button{
  width:50%;
  margin-left:25%;
  background:white;
  margin-top:2.5%;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
  padding:10px;
  border-radius:10px;
}
.login_ad{
  background:none;
}
.ad_button:hover{
  background:black;
  color:white;
}

.google_button{
  position: relative;
}

.google_img{
  width:30px;
  left:0%;
  bottom:5px;
  position: absolute;
}

.ad_text{
  color:white;
  text-align: center;
  letter-spacing: 2px;
}

.advertise_container .text_banner .title{
  font-size:40px;
  font-weight:600;
}

.ad_icon{
  position: absolute;
  bottom:0%;
  width:70%;
  top:300px;
  left:20%;
}

.advertise_container .text_banner .subtitle{
  font-size:35px;
  font-weight:400;
  margin-top:5%;
}

.ad_button{
  color:white;
}

@media screen and (max-width:1024px) and (min-width:700px){

  .advertise_container .text_banner .title{
    font-size:35px;
    font-weight:600;
  }

  .ad_icon{
    position: absolute;
    bottom:0%;
    width:70%;
    top:400px;
    left:20%;
  }

  .advertise_container .text_banner .subtitle{
    font-size:27px;
    font-weight:400;
    margin-top:5%;
  }
  .fix_x{
    height: 50vh !important;
    border:1px solid #e6e6e6;
  }

  .product_box{
    margin-top:25px;
  }

  .ad_button{
    margin-top:7.5%;
  }

  .catagory_arrow{
    width:60px;
    height:60px;
  }

  .catagory_products{
    margin-left:10px;
    margin-right:10px;
    padding-bottom:20%;
  }

  .catagory_row{
    padding-bottom:10%;
    padding-top:5%;
    border-bottom:2px solid #e6e6e6;
  }

}

.fix_x{
  height:70vh;
  position: relative;
}

.fix_y{
  top:90%;
  position: absolute;
  width: 100%;
  left:0%;
}

.fix_y {
  top: 100%;
  position: absolute;
  width: 100%;
  left: 0%;
}
