.update_location_container{
  width:90%;
  position: fixed;
  top:0%;
  transform: translateX(1500px);
  transition: all .4s;
  padding:10px;
  left:5%;
  padding-bottom:2.5%;
  border-radius: 10px;
  background: white;
  z-index:9999999;
}

#google_map {
  animation: map_appear .5s 1 ease-in !important;
}

.update_location_container--active{
  opacity: 1 !important;
  transform: translateX(00px) translateY(10px) !important;
}

.update_location_container--exit{
  position: absolute;
  right:5%;
  font-size: 20px;
  transition: all .4s;
  color:black;
}

.update_location_container--exit:hover{
  color:red !important;
}

.update_location_map{
  width:100%;
  margin-top:2.5%;
  background:#e6e6e6;
}

.update_location_input{
  padding:10px;
  outline: none;
  width:100%;
  margin-top:2.5%;
  font-size: 22px;
  border:1px solid black;
}

.update_location_button--current{
  width:50%;
  margin-left:25%;
  display: block;
  margin-top:-20px;
}

.update_location_button--submit{
  margin-left:25%;
  margin-top:5%;
  width:50%;
}

.update_location_button{
  background:white;
  border: 1px solid black;
  padding:10px;
  font-size:18px;
}

.update_location_container .title{
  font-size: 23px;
  font-weight: 250;
  display: inline;
}


@media screen and (max-width:1024px) and (min-width:700px){

  .update_location_container {
    width: 90%;
    position: fixed;
    top: 15%;
    transform: translateX(1500px);
    transition: all .4s;
    padding: 1%;
    left: 5%;
    padding-bottom: 5%;
    padding-top:5%;
    border-radius: 10px;
    background: white;
    z-index: 9999999;
  }

  .update_location_container .title {
    margin-top: -5%;
    display: block;
    text-align: center;
    width: 100% !important;
    font-size: 30px;
    font-weight: 500;
  }

  .update_location_button {
    color:black !important;
  }

  .update_location--exit{
    margin-top: -2.5%;
    margin-left: 2.5%;
  }

  .update_location_button{
    margin-top:2.5%;
    margin-bottom:2.5%;
    margin-top:5%;
  }

  gmp-map{
    height:350px !important;
  }

}
