.authentication_container{
  background:#f0f4f9;
  height:100vh;
  padding-bottom:5%;
  overflow-x: hidden;
  width:100%;
}

.container-fluid{
  padding:0%;
  background:#f0f4f9;
}

.create_account_modal{
  background:white;
  padding:5%;
  padding-bottom:2.5%;
  margin-top:40%;
  box-shadow: 0px 0px 10px rgba(0,0,0,.4);
  position: relative;
}

.create_account_text--title{
  font-size:30px;
  text-align: center;
}

.create_account_img--logo{
  width:40%;
  margin-top:5%;
  margin-left:27.5%;
}

.authentication_input{
  height:30px;
  background:white;
  border:none;
  margin-top:5%;
  width:100%;
  border:0px;
}

.authentication_button--submit{
  margin-top:5%;
  margin-bottom:5%;
  background:white;
}

.authentication_button--google *{
  width:100% !important;
}

.authentication_container--inner{
  background:white;
  margin:5%;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
  animation: appear 1 ease-in .75s;
  border-radius:10px;
  padding:5%;
  overflow: hidden;
  box-sizing: border-box;
  margin-top:2.5%;
}

.login_input--error{
  box-shadow: 0px 0px 10px red !important;
  border-color:red !important;
}

form p{
  font-family: "Amazon Ember";
}

.login_text--subtitle{
  text-align: left;
  font-weight:300;
  width:80%;
  font-size:20px;
  font-family: "Amazon Ember";
}

.login_img--logo{
  width:30%;
  margin-left: 5%;
}

.login_text--title{
  text-align: left;
  font-weight:250;
  font-size:30px;
  font-family: "Amazon Ember";
}

.form_container{
  width:50%;
  float:right;
}

.authentication_intro_container{
  width:50%;
  float:left;
}

.authentication_button:hover{
  opacity:1;
}

.authentication_button{
  background:linear-gradient(to right,rgba(42, 177, 255, 1),rgba(42, 200, 255, 1));
  padding:2%;
  margin-top:10%;
  opacity:.6;
  color:white;
  font-size:17px;
  border-color:#2AB1FF;
  transition:  all .5s;
  border-width:0px;
  border-radius:15px;
  width:100%;
}

.authentication_button--forgot{
  text-align: right;
  color:grey;
  background:none;
  border:none;
  margin-top:1%;
  font-size:13px;
}

.authentication_input_container label {
  width:100%;
  font-size:15px;
  font-family: "Amazon Ember";
}

.authentication_input_container input{
  margin-top:2.5%;
  width:100%;
  border:none;
  padding:10px;
  border-bottom:2px solid #e6e6e6;
  border-radius:2px;
  box-shadow:0px 0px 1px rgba(0,0,0,.5);
}

.authentication_input_container input:focus{
  outline:none;
  box-shadow:0px 0px 5px rgba(12, 192, 223, 1);
  border-color:#0CC0DF;
}

.login_input--error:focus{
  border-color:red !important;
}

.authentication_form{
  font-size:14px;
  padding:1%;
}

.authentication_input_container{
  width:100%;
  margin-top:2.5%;
}

.authentication_container{
  background:linear-gradient(to bottom,#312755,#304472, #583d7d, #68b5de) !important;
}

.authentication_type {
  letter-spacing: 3px;
  font-weight: 300;
  color: white;
  font-size: 30px;
  display: inline;
  margin-left:5%;
  margin-top: 5%;
}

.create_account_col{
  transform: translateY(-150px);
}

@media screen and (max-width:1024px) and (min-width:700px){

  .authentication_container--inner{
    position: relative;
    top: 0px !important;
  }

  .authentication_form{
    padding:10px;
    border: 2px solid #e6e6e6;
  }

  .create_account_col{
    width:80%;
    margin-top:-5%;
    margin-left:10%;
  }

  .form_container{
    width:100%;
  }

  .authentication_intro_container{
    width:100%;
  }

  .login_text--title{
    text-align: center;
    font-weight:400;
  }

  .authentication_type{
    font-size:40px;
    padding:5%;
    margin-top:2.5%;
    padding-top: 2.5%;
    display: block;
  }

  .create_account_col .create_account_modal {
    box-shadow:0px 0px 10px rgba(0,0,0.4);
    padding-bottom:12.5%;
    transform: translateY(-100px);
  }

  .authentication_input_container label{
    font-size:20px;
    font-weight:400;
    margin-top:20px;
  }

  .create_account_modal label{
    font-size:20px;
    font-weight:400;
    margin-top:20px;
  }

  .login_text--subtitle {
    text-align: center;
    font-weight: 300;
    width: 100%;
    font-size: 20px;
    font-family: "Amazon Ember";
  }

  .login_img--logo {
    width: 30%;
    margin-left: 35%;
  }

}
