.product_review_user_container{
  width:100%;
  margin-top:5%;
  position: relative;
  z-index:99;
  border-bottom:1px solid #e6e6e6;
}
.user_review_text--name{
  float:left;
  width:50%;
  font-size:15px !important;
  margin-top: 5px;
  padding:10px;
}
.product_review_container{
  padding-top:50px;
}
.user_img_review{
  width:100px;
  height:100px;
  border-radius:50%;
  float:left;
}

.review_rating {
  font-family: "Roboto";
  font-size:20px;
}
.review_rating--heading{
  font-size:18px;
}
.review_rating--description{
  font-size:15px;
}
.product_review_container{
  width:100%;
  padding:5px;

}
.form-control{
  margin-top:0px;
}
.review_section{
  padding:20px;
}
  .product_review_text{
    font-size:17px;
    font-weight:400;
  }
  .review_input {
    height:30px;
    font-size:17px;
    font-family: monospace;
    margin-bottom:10px;
  }
  .review_description{
    font-size:20px;
    margin-top:5px;
    width:100%;
    font-family: monospace;
  }.review_btn{
    height:35px;
    color:white;
    background:black;
    width:50%;
    margin-left:25%;

  }
