
.bubble_slideshow_container{

  width:10%;position:absolute;left:45%;top:90%;
}


@media screen and (max-width:1024px) and (min-width:700px){

  .bubble_slideshow_container{
      width: 15%;
      position: absolute;
      left: 45%;
      top: 32.5%;
  }

  .header_button_1{
    top: 15%;
  }

}
