<div class="update_location_container">

  <p class="exit_location">X</p>

  <p class="title"> Update Location </p>
  <button class="location_button current_location_button"> Get Current Location</button>

  <div class="map_container">
    <gmp-map center="37.4220656,-122.0840897" zoom="10" map-id="DEMO_MAP_ID" style="height: 200px"></gmp-map>
  </div>


  <form class="location_form" action = "/user/location/update">

    <input class="current_location_input" placeholder="Enter Address"  name = "address">
    <button class=" location_button update_location_button" type="Submit">Update Location</button>

  </form>


</div>
