  <%- include("./../layouts/head.ejs") %>

  <div class="container-fluid">
    <%- include("./header.ejs") %>

  <main>

    <div class="profile_container">

      <form action = "/user/profile/edit" method = "POST">

          <div class="profile_img_container">

              <img class="profile_img_" src = "./../imgs/profile_img.png">

              <div class="edit_img">
                  <p> + </p>
                  <input class="inactive_profile_input edit_img" type = "file" name = "thumbnail">
              </div>

          </div>

          <label class="profile_label"> Full Name </label>
          <input class="profile_input" name = "name" placeholder  = "Enter Full Name" >

          <label class="profile_label"> Username </label>
          <input class="profile_input" name = "username" placeholder = "Enter Username" >

          <label class="profile_label"> Password </label>
          <input class="profile_input"name = "password" type="password" placeholder = "Enter Password" >

          <label class="profile_label"> Confirm Password </label>
          <input class="profile_input" name = "confirm" type="password" placeholder = "Confirm Password" >

          <button class="submit_profile"> Update Changes </button>

      </form>

    </div>

  </main>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src = "./js/util.js" ></script>

<%- include("./../layouts/end.ejs") %>
