<div class="advertise_container">

  <div class="text_banner">

      <p class="title ad_text"> Shop with E-Commcerce Now! </p>

      <p class="subtitle ad_text"> Get access to the best products at the lowest price today! </p>

      <img class="ad_icon" src = "images/pig_icon_gif.gif"/>

  </div>

  <div class= "signup_banner">

    <p class="question">Are you a Customer?</p>

      <button class="ad_button btn create_button">Create Account</button>

      <button class="ad_button btn login_ad">Login</button>

      <button class="ad_button btn google_button">

        <img class="google_img" src = "images/google_logo.png">
        Login With Google

      </button>
      <div class="advertise_divider"></div>
      <br />
      <p class="question">Do you Own an E-Commerce Shop?</p>

      <button class="ad_button btn login_ad">Login as Admin</button>

      <button class="ad_button btn create_ad">Become a Store Owner</button>

  </div>

</div>
