<div class="margin-top-5 story_container">

  <p class="story_title"> See What Our Users Think of Us! </p>

  <div class="reviews_container">

  </div>

    <div class="add_review_container">

      <% if(isAuthenticated){ %>

      <button class="add_review_button">
        Add Review
        <span></span>
      </button>

      <%}%>
    </div>
    <div class = "review_display_container"></div>




</div>
