
<div class="items_banner_container" >

  <div class="arrow_banner_container">
    <img class="arrow_banner--left arrow_banner" src="./../images/arrow.png"/>
    <img class="arrow_banner--right arrow_banner" src="./../images/arrow.png"/>
  </div>

    <p class="banner_title"> Items Tailored For You </p>

    <div class="items_banner_container--inner">

      <% var left = 0; %>

      <% for (var i =0; i < items.favorite.length; i++){%>
        <% console.log(items.favorite) %>
        <a href = <%="/product/"+items.favorite[i]._id %> class="banner_item" style=<%=`left:`+left+"%" %>>

            <img class="banner_item_image" src = <%=`/images/${items.favorite[i].thumbnail} ` %>/>

        </a>

        <%  left += 17.5; %>

      <%}%>

    </div>

</div>
