<header class = "admin_navbar">

  <a href = "/admin">

    <div class="logo_container nav_container"style="margin-left:0">

    <img class="logo--admin" src = "./../../../images/new_logo--2.png">

      E-Commerce
      |
      Admin

    </div>

  </a>

  <div class="nav_container add_p">
    Add Product
  </div>

  <div class="nav_container edit_delete_p">
      Edit / Delete
  </div>

  <div class="nav_container">
    Orders
  </div>

  <div class="nav_container">
    Sales / Profit
  </div>

  <div class="nav_container profile_col profile_col_admin">

    <div class="dropdown_list relative">

      <img class="profile_icon" src = <%= `./../images/profile_img.png` %>>

      <div class="profile_dropdown_list">

        <div class="dropdown_item" id="update_location">
          <p class="dropdown_title" >Update Location</p>
        </div>

          <div class="dropdown_item" id = "edit_profile_admin" type = "admin">
            <p class="dropdown_title">Edit Profile</p>
          </div>

        <div class="dropdown_item">
          <p class="dropdown_title">Advanced Settings</p>
        </div>

        <div class="dropdown_item logout">
          <p class="dropdown_title ">Logout</p>
        </div>

      </div>

    </div>

  </div>

</header>
