
  <div class="navbar_user_dropdown_list_container navbar_dropdown_list_container--admin">


    <div class="navbar_user_list dropdown_list--inner ">

      <div class=" dropdown_item navbar_user_list_dropdown--item" id="update_location--admin">
        <p class="dropdown_title navbar_user_list_dropdown--title">Update Location</p>
      </div>

      <div class="dropdown_item navbar_user_list_dropdown--item" id = "edit_profile_admin">
        <p class="dropdown_title navbar_user_list_dropdown--title">Edit Profile</p>
      </div>

      <div class="dropdown_item navbar_user_list_dropdown--item">
        <p class="dropdown_title navbar_user_list_dropdown--title">Advanced Settings</p>
      </div>

      <a href = "/logout"><div class="dropdown_item logout navbar_user_list_dropdown--item">
        <p class="dropdown_title navbar_user_list_dropdown--title">Logout</p>
      </div></a>

      <div class="dropdown_item logout navbar_user_list_dropdown--item add_p">
        <p class="dropdown_title navbar_user_list_dropdown--title dropdown_title--unavailable">Add Product</p>
      </div>

      <a href = "/logout"><div class="dropdown_item logout navbar_user_list_dropdown--item">
        <p class="dropdown_title navbar_user_list_dropdown--title dropdown_title--unavailable">See Metrics</p>
      </div></a>

    </div>

  </div>
