<%- include("./dropdown_main_menu.ejs") %>

<header class = "admin_navbar">

  <a href = "/admin">

    <div class="logo_container nav_container"style="margin-left:0">

    <img class="logo--admin" src = "/images/new_logo--2.png">

      E-Commerce
      |
      Admin

    </div>

  </a>

  <div class="nav_container add_p">
    Add Product
  </div>

  <div class="nav_container edit_delete_p">
      Edit / Delete
  </div>

  <div class="nav_container">
    Orders
  </div>

  <div class="nav_container">
    Sales / Profit
  </div>

  <div class="nav_container profile_col profile_col_admin">

    <img class="profile_icon profile_icon--admin" src = <%= `/images/profile_img.png` %>>

  </div>

</header>
